<!DOCTYPE html>
<html>
	<header>
		<link rel="stylesheet" href="/static/style/main.css">
		<link rel="stylesheet" href="/static/style/konkurs_talantov.css">
		<title>Будь звездой!</title>
	</header>
	<body>
		<div id="hot-bar-container">
			<div id="hot-bar">
				<div class="hot-bar-items"><img id="menu-icon" src="/static/media/icons/menu.svg"></div>
				<div class="hot-bar-items">Школьный конкурс талантов "Будь звездой"</div>
				<div class="hot-bar-items" id="accounts"><a href="/konkurs_talantov/login">Войти</a></div><br>
			</div>
		</div>
		<div>
			<h2>Основные положения</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			<h2>Как прекрепить файлы?</h2>
			<p>Чтобы прекрепить файлы минусов, фонов и прочие материалы, необходимо зарегистрироваться на конкурс и выбрать соответствующий пункт в личном кабинете участника.</p>
		</div>
	</body>
</html>