<!DOCTYPE html>
<html>
	<header>
		<link rel="stylesheet" href="/static/style/main.css">
		<link rel="stylesheet" href="/static/style/konkurs_talantov.css">
		<title>Будь звездой!</title>
	</header>
	<body>
		<div id="hot-bar-container">
			<div id="hot-bar">
				<div class="hot-bar-items"><img id="menu-icon" src="/static/media/icons/menu.svg"></div>
				<div class="hot-bar-items">Школьный конкурс талантов "Будь звездой"</div>
			</div>
		</div>
		<div>
			<h2>Личный кабинет пользователя</h2>
			<h2>Прикрепить файлы</h2>
			<p>Файлы необходимо прикреплять по одному.</p>
			<form enctype="multipart/form-data" method="post"><input type="file" name="file"><input type="submit" value="Отправить"></form>
		</div>
	</body>
</html>